<h1>Editing account <%= @account.name %></h1>

<%= form_for @account, url: account_path(@account), method: :patch do |f| %>
  <% if @account.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @account.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, value: @account.name %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', accounts_path %>
